body {
  font-family: arial;
}
p {
  color: rgb(218, 214, 214);
  font-size: 13px;
}
div.main-cnt {
  display: flex;
  flex-direction: row;
  width: 450px;
  margin: 150px 0px 0px 400px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px 1px rgb(164, 240, 233);
}
div.rslt-cnt {
  width: 240px;
  height: 350px;
  background-color: hsl(241, 92%, 50%);
  border-radius: 20px;
}
p.rslt-head {
  text-align: center;
  margin-top: 0px;
  color: rgb(234, 218, 218);
  font-weight: 600;
  margin-top: 30px;
}
div.pcntg-cnt {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-left: 45px;
  margin-top: 20px;
  background-color: hsl(241, 89%, 42%);
}
div.overall-cnt {
  text-align: center;
  margin-top: -130px;
  margin-left: 10px;
}
p.pcntg-no {
  font-size: 60px;
  font-weight: bold;
  margin-top: 15px;
}
p.pcntg-overall {
  font-size: 13px;
  margin-top: -60px;
}
div.rslt-info {
  text-align: center;
  margin-top: 50px;
}
p.header {
  color: rgb(234, 218, 218);
  font-weight: 600;
  font-size: 25px;
}
p.rslt-cover {
  width: 190px;
  margin-left: 20px;
  margin-top: -15px;
  font-size: 13px;
}
div.summary-cnt {
  width: 230px;
  height: 350px;
}
p.smmry-head {
  color: hsl(224, 30%, 27%);
  font-weight: 600;
  margin-left: 20px;
  margin-top: 30px;
}
.img-icon {
  width: 15px;
  margin-left: 10px;
}
div.reactn-cnt {
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 30px;
  border-radius: 6px;
  margin: 20px;
  background-color: hsl(0, 53%, 94%);
}

div.memory-cnt {
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 30px;
  border-radius: 6px;
  margin: 20px;
  background-color: hsl(40, 49%, 89%);
}
div.verbal-cnt {
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 30px;
  border-radius: 6px;
  margin: 20px;
  background-color: hsl(144, 36%, 95%);
}
div.visual-cnt {
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 30px;
  border-radius: 6px;
  margin: 20px;
  background-color: hsl(235, 40%, 94%);
}
p.react {
  font-weight: bold;
  margin: 10px 0px 0px 8px;
  color: hsl(0, 63%, 63%);
}
p.memory {
  font-weight: bold;
  margin: 10px 0px 0px 8px;
  color: hsl(39, 64%, 63%);
}
p.verbal {
  font-weight: bold;
  margin: 10px 0px 0px 8px;
  color: hsl(166, 52%, 48%);
}
p.visual {
  font-weight: bold;
  margin: 10px 0px 0px 8px;
  color: hsl(234, 62%, 39%);
}
p.react-pcnt {
  color: rgb(196, 189, 189);
  font-weight: bold;
  margin-top: 10px;
  margin-left: 32px;
}
p.mmry-pcnt {
  color: rgb(196, 189, 189);
  font-weight: bold;
  margin-top: 10px;
  margin-left: 34px;
}
p.verbal-pcnt {
  color: rgb(196, 189, 189);
  font-weight: bold;
  margin-top: 10px;
  margin-left: 45px;
}
div > p > span {
  color: rgb(49, 48, 48);
  font-weight: 600;
}
p.visual-pcnt {
  color: rgb(196, 189, 189);
  font-weight: bold;
  margin-top: 10px;
  margin-left: 45px;
}
div.bttn-cnt {
  margin: 40px 0px 0px 20px;
}
.continue-bttn {
  text-align: center;
  font-weight: bold;
  width: 180px;
  height: 33px;
  color: white;
  border-radius: 20px;
  border: 1px solid hsl(224, 30%, 27%);
  background-color: hsl(225, 32%, 22%);
}
